{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 原本版本
        "loose": false,
        // "modules": "commonjs",
        // "corejs": "2.6.9",
        "spec": true,
        "useBuiltIns": "usage",
        // 新测试的
        "corejs": 3,
        "modules": false
      }
    ],
    // ["env", { "modules": false }]
  ],
  "plugins": [
    
    ["@babel/proposal-decorators", { "legacy": true }],
    // ["@babel/proposal-decorators", { "legacy": true,"loose": true }],
    // ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/proposal-class-properties"],
    // ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
    ["@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "useESModules": true,
        "regenerator": true,
        "absoluteRuntime": "./node_modules"
      }],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    },"vant"],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
