/* mixins/mixins.scss */
$namespace: 'cyan'; /* 组件库的样式前缀 */

/* BEM
 -------------------------- */
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin labelStyle($bgcolor: $BaseColor_blue) {
  background-color: $bgcolor;
  color: white;
  font-weight: bold;
  opacity: 0.9;
}
